# macos
**/Icon*
**/Icon
*/Icon
Icon

**/#*.*#
**/*.*~
**/#*#
**/*~

**/.notused/

# node
**/node_modules/

# java
**/target/
**/*.class

# dotnet
**/bin/
**/obj/

# python
**/.venv/


**/client_secret_*.googleusercontent.com.json
